html {
  box-sizing: border-box;

  --coral: #EF4B4B;
  --hotpink: #E5069A;
  --mustard: #F89D2B;
  --mint: #29FFBC;
  --darkestgray: #333333;
  --darkgray: #787679;
  --headerdisplay: "Playfair Display";
  --bodydisplay: "Brown";
  --bodyregular: "Georgia";
}

@font-face {
    font-family: 'Brown';
    src: url('/System/Library/Fonts/Brown') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('/System/Library/Fonts/Georgia') format('opentype');
    font-weight: normal;
    font-style: normal;
}


*, *:before, *:after {
  box-sizing: inherit;
}

/* typography */

body{
  font-family: var(--bodyregular);
  font-size: 17px;
  line-height: 28.1px;
  color: var(--darkestgray);
}

h1, h2, h3, h4, h5{
  font-family: var(--headerdisplay);
  line-height: 1.2;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 16px;
}

a{
  color: var(--darkestgray);
  text-decoration: none;
  border-bottom: 2px solid var(--mint);
}

img{
  display: block;
  max-width: 100%;
}

.component img{
  max-width: initial;
}

.component--img{
  border: 1px solid #ccc;
  overflow-x:auto;
}

.component--code{
  border: 1px solid #ccc;
}