<!DOCTYPE HTML>

<html lang="en">
	<head>
		<meta charset="UTF-8">

		<title>Components | Refinery29</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Neuton&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../css/main.css">

	</head>
	<body>
		<h1>Web components</h1>

		<h2>Typography defaults</h2>

		
		<article class="component">
			<h3 class="component--name">body</h3>
			<img 
				srcset="../img/body-copy.png 2x"
				src="../img/body-copy.png" 
				alt="body copy"
			/>

			<div class="component--code">
				<p>On any given day, your odds of seeing someone in <a href="#">cowboy boots</a> have probably quadrupled from this time two years ago — regardless of your proximity to horse stables. The <a href="#">Western fashion trend</a> and, more recently, dubbed by TikTokers as <a href="#">Coastal Cowgirl</a> and Cowboycore aesthetics have been rising in popularity to make 2024 the <a href="#">year of the rodeo</a>.</p>
		
			</div>

		</article>

	</body>


</html>