<!DOCTYPE HTML>

<html lang="en">
	<head>
		<meta charset="UTF-8">

		<title>Components | Refinery29</title>

		<link href="../fonts/fontawesome/css/all.css" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Neuton&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../css/main.css">

	</head>
	<body>
		<div class="container">

			<div class="components--nav">
				<h2>Refinery29 Web Components</h2>
				<nav>
					<ul>
						<li><a href="#1"><em>Typography defaults →</em></a></li>
							<li><a href="#2">body</a></li>
							<li><a href="#3">headings (h1, h2, h3, ...)</a></li>
							<li><a href="#4">body display</a></li>
							<li><a href="#5">link style</a></li>
						<li><a href="#6"><em>Navigation →</em></a></li>
							<li><a href="#7">main navigation</a></li>
							<li><a href="#8">footer navigation</a></li>
						
						<li><a href="#9"><em>Tiles →</em></a></li>
							<li><a href="#10">article tile</a></li>
							<li><a href="#11">article tile 2</a></li>
							<li><a href="#12">article tile 3</a></li>
							<li><a href="#13">article tile 4</a></li>
							<li><a href="#14">collection tile</a></li>
							<li><a href="#15">shopping tile</a></li>
						
						<li><a href="#16"><em>Other →</em></a></li>
							<li><a href="#17">button</a></li>
							<li><a href="#18">block quote</a></li>
							<li><a href="#19">shopping tile section</a></li>
					</ul>
				</nav>

			</div>

		<div class="components">
			<h2 id="1">Typography defaults</h2>

			
			<article class="component">
				<h3 id="2" class="component--name">body</h3>

				<div class="component--img">
					<img srcset="../img/body-copy.png 2x" src="../img/body-copy.png" alt="body copy">
				</div>

				<div class="component--code">
					<p>On any given day, your odds of seeing someone in <a class="body--link" href="#">cowboy boots</a> have probably quadrupled from this time two years ago — regardless of your proximity to horse stables. The <a class="body--link" href="#">Western fashion trend</a> and, more recently, dubbed by TikTokers as <a class="body--link" href="#">Coastal Cowgirl</a> and Cowboycore aesthetics have been rising in popularity to make 2024 the <a class="body--link" href="#">year of the rodeo</a>.</p>
				</div>
			</article>

			<article class="component">
				<h3 id="3" class="component--name">headings (h1, h2, h3, ...)</h3>

				<div class="component--img">
					<img srcset="../img/h1.png 2x" src="../img/h1.png" alt="h1">
					<img srcset="../img/h2.png 2x" src="../img/h2.png" alt="h2">
					<img srcset="../img/h3.png 2x" src="../img/h3.png" alt="h3">
				</div>

				<div class="component--code">
					<h1>From Cowboy Boots To Double Denim, How To Style The Western Fashion Trend</h1>
					<h2>R29 Curated Collections</h2>
					<h3>A Week In Ottawa, Ontario On A $83,801 Salary</h3>
				</div>
			</article>

			<article class="component">
				<h3 id="4" class="component--name">body display</h3>

				<div class="component--img">
					<img srcset="../img/links.png 2x" src="../img/body-display.png" alt="body display">
				</div>

				<div class="component--code">
					<p class="body--display">FASHION</p>
				</div>
			</article>

			<article class="component">
				<h3 id="5" class="component--name">link style</h3>

				<div class="component--img">
					<img srcset="../img/links.png 2x" src="../img/links.png" alt="link style">
				</div>

				<div class="component--code">
					<a class="body--link" href="#">Western-inspired 'fits</a>
				</div>
			</article>

			<h2 id="6">Navigation</h2>

			<article class="component">
				<h3 id="7" class="component--name">main navigation</h3>

				<div class="component--img">
					<img srcset="../img/main-navigation.png 2x" src="../img/main-navigation.png" alt="main navigation">
				</div>

				<div class="component--code">
					<div class="main--nav">
						<div class="main--nav--logo"><img src="../img/logo.png" alt="refinery29 logo"></div>
	            
			            <nav>
			                <ul class="nav-list">
			                  <li><a href="#" class="active"><p class="nav-button-text">DISCOVER</p></a></li>
			                  <li><a href="#"><p class="nav-button-text">WATCH</p></a></li>
			                  <li><a href="#"><p class="nav-button-text">SHOP</p></a></li>
			                  <li><a href="#"><p class="nav-button-text">+MORE</p></a></li>
			                </ul>
			            </nav>

			            <div class="nav-button"><p class="nav-button-text">United States</p></div>

			            <div class="nav-icon"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></div>

					</div>
				</div>
			</article>

			<article class="component">
				<h3 id="8" class="component--name">footer navigation</h3>

				<div class="component--img">
					<img srcset="../img/footer.png 2x" src="../img/footer.png" alt="main navigation">
				</div>

				<div class="component--code">
					<section class="footer">
						<div class="footer--1">
							<div class="footer--tile--discover"><a href="#">
								<h1>Discover</h1>
								<p class="body--display">R29 STORIES & NEWS</p>
							</a>
							</div>
							<div class="footer--tile--watch"><a href="#">
								<h1>Watch</h1>
								<p class="body--display">R29 ORIGINAL SERIES & FILMS</p>
							</a>
							</div>
							<div class="footer--tile--shop"><a href="#">
								<h1>Shop</h1>
								<p class="body--display">R29'S MOST WANTED</p>
							</a>
							</div>
						</div>
						<div class="footer--2">
							<div class="footer--logo">
								<img src="../img/logo.png">
							</div>
							<div class="footer--links">
								<p class="body--display">COMPANY</p>
								<ul class="footer--links--list">
									<li>About Us</li>
									<li>Jobs</li>
									<li>Press</li>
									<li>Advertising</li>
									<li>Feedback</li>
									<li>Refinery29 Intelligence</li>
								</ul>
							</div>
							<div class="footer--links">
								<p class="body--display">INFORMATION</p>
								<ul class="footer--links--list">
									<li>R29 News</li>
									<li>Terms</li>
									<li>Privacy</li>
									<li>Content Funding</li>
									<li>Archives</li>
									<li>RSS</li>
									<li>Do Not Sell or Share My Personal Information</li>
								</ul>
							</div>
							<div class="footer--links">
								<p class="body--display">EDITIONS</p>
								<ul class="footer--links--list">
									<li>United Kingdom</li>
									<li>Germany</li>
									<li>France</li>
									<li>Australia</li>
								</ul>
							</div>
							<div class="footer--newsletter">
								<form action="/action_page.php">
									<label for="emailinput" class="body--display">NEWSLETTER SIGN-UP</label>
	      							<input class="body--display" type="text" placeholder="EMAIL ADDRESS" id="emailinput" name="search">
	      							<button class="body--display" type="submit">GO!</button>
	    						</form>
							</div>

						</div>
					</section>
				</div>
			</article>

			<h2 id="9">Tiles</h2>

			<article class="component">
				<h3 id="10" class="component--name">article tile</h3>

				<div class="component--img">
					<img srcset="../img/article-tile.png 3.5x" src="../img/article-tile.png" alt="article tile">
				</div>

				<div class="component--code">
					<article class="article-tile">
						<img  class="article-tile-image" src="../img/selena.png" alt="selena gomez">

						<div class="article-tile-text">
							<p class="body--display article--label">BEAUTY</p>

							<h4>"I Do My Best To Ignore It": Selena Gomez On Unrealistic Beauty...</h4>

							<p class="body--display article--label">by ANGELA LAW</p>
						</div>

					</article>
				</div>
			</article>

			<article class="component">
				<h3 id="11" class="component--name">article tile 2</h3>

				<div class="component--img">
					<img srcset="../img/article-tile-2.png 2x" src="../img/article-tile-2.png" alt="article tile 2">
				</div>

				<div class="component--code">
					<article class="article-tile-2">
						<img  class="article-tile-image" src="../img/slip-dress.png" alt="slip dress">

						<div class="article-tile-text">
							<p class="body--display article--label">SHOPPING</p>

							<h4>The 24 Best Slip Dresses For Spring Weddings, Date Nights, & Beyond</h4>

							<div class="article-author-date">
								<p class="body--display article--label">RAY LOWE</p>
								<p class="body--display article--label date">APR 11, 2024</p>
							</div>

						</div>

					</article>
				</div>
			</article>

			<article class="component">
				<h3 id="12" class="component--name">article tile 3</h3>

				<div class="component--img">
					<img srcset="../img/article-tile-3.png 2x" src="../img/article-tile-3.png" alt="article tile 2">
				</div>

				<div class="component--code">
					<article class="article-tile-3">

						<div class="article-tile-text">
							<p class="body--display article--label">MONEY DIARIES</p>

							<h3>Read How People Spend Their Money Over A Week</h3>
						</div>

						<img class="article-tile-3-image" src="../img/money-diaries.png" alt="money diaries">

					</article>
				</div>
			</article>

			<article class="component">
				<h3 id="13" class="component--name">article tile 4</h3>

				<div class="component--img">
					<img srcset="../img/article-tile-4.png 2x" src="../img/article-tile-4.png" alt="article tile 4">
				</div>

				<div class="component--code">
					<article class="article-tile-4">

						<img class="article-tile-4-image" src="../img/birth-rights.png" alt="birth right">

						<div class="article-tile-text-4">
							<p class="body--display article--label">BIRTH RIGHT</p>

							<h5>My Miscarriage Was "Common" -- For Black Women That Is...</h5>

							<p class="body--display article--label">by KATHLEEN NEWMAN-B</p>
						</div>

					</article>
				</div>
			</article>

			<article class="component">
				<h3 id="14" class="component--name">collection tile</h3>

				<div class="component--img">
					<img srcset="../img/collection-tile.png 2x" src="../img/collection-tile.png" alt="article tile 2">
				</div>

				<div class="component--code">
					<article class="collection--tile">
						<img src="../img/robes.png" alt="robes">

						<div class="collection-tile-text">
							<p class="body--display--bold article--label">SHOP THE COLLECTION</p>

							<h3>Shop Refinery29 Goods</h3>
						</div>

					</article>
				</div>
			</article>

			<article class="component">
				<h3 id="15" class="component--name">shopping tile</h3>

				<div class="component--img">
					<img srcset="../img/shopping-tile.png 2x" src="../img/shopping-tile.png" alt="shopping tile">
				</div>

				<div class="component--code">
					<article class="shopping--tile">

						<div class="shopping-tile-desc">
							<p class="body--display--bold article--label">FREE PEOPLE</p>

							<h5>Kayce Indigo Cowboy Hat</h5>
						</div>

						<div class="button-price">

							<div class="shopping-button">
								<p class="body--display--bold">BUY</p>
							</div>

							<div class="shopping-price">
								<p class="body--display--bold price">$39.00</p>

								<p class="body--display--bold brand">FREE PEOPLE</p>
							</div>

						</div>

					</article>
				</div>
			</article>

			<h2 id="16">Other</h2>

			<article class="component">
				<h3 id="17" class="component--name">button</h3>

				<div class="component--img">
					<img srcset="../img/button.png 2x" src="../img/button.png" alt="button">
				</div>

				<div class="component--code">
					<div class="button">
						<p class="body--display">MORE STORIES</p>
					</div>
				</div>
			</article>

			<article class="component">
				<h3 id="18" class="component--name">block quote</h3>

				<div class="component--img">
					<img srcset="../img/block-quote.png 3.5x" src="../img/block-quote.png" alt="block quote">
				</div>

				<div class="component--code">
					<article class="block-quote">
						<div class="block-quote-text">
							<p class="body--display">OUR MISSION</p>

							<h1>As a creative global platform for ALL young people Refinery29 celebrates and challenges the world we live in now and reflects the one you are shaping for tomorrow. We tell stories in our own words that enlighten, inspire, and drive change from the ground up.</h1>
						</div>

					</article>
				</div>
			</article>

			<article class="component">
				<h3 id="19" class="component--name">shopping tile section</h3>

				<div class="component--img">
					<img srcset="../img/shopping-tile-section.png 2x" src="../img/shopping-tile-section.png" alt="shopping tile">
				</div>

				<div class="component--code">
					<div class="shopping-tile-section">
						<h3>SHOP THIS</h3>

						<div class="shopping--tile">

							<div class="shopping-tile-desc">
								<p class="body--display--bold article--label">FREE PEOPLE</p>

								<h5>Kayce Indigo Cowboy Hat</h5>
							</div>

							<div class="button-price">

								<div class="shopping-button">
									<p class="body--display--bold">BUY</p>
								</div>

								<div class="shopping-price">
									<p class="body--display--bold price">$39.00</p>

									<p class="body--display--bold brand">FREE PEOPLE</p>
								</div>

							</div>

						</div>
					</div>
				</div>
			</article>
		</div>

	</div>
	</body>


</html>